<ion-header>
    <ion-navbar>
        <ion-title>Bienvenidos a la Red Social!</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>

        <ion-item>
            <ion-avatar item-start>
                <img src="../../assets/imgs/avatar.jpg">
            </ion-avatar>
            <h2>Diego Fernando</h2>
            <p>Abril 04, 2018</p>
        </ion-item>

        <img src="../../assets/imgs/asus.jpg">

        <ion-card-content>
            <p *ngFor="let comment of comments">{{ comment }}</p>
        </ion-card-content>

        <ion-row>
            <ion-col col-6>
                <button ion-button
                        icon-left
                        clear
                        (click)="addLike()">
          <ion-icon name="thumbs-up"          
          [style.color]="btnColor"></ion-icon>
          <div>{{ numLike }} Me Gustan</div>
        </button>


            </ion-col>
            <ion-col col-6>
                <button ion-button
                        icon-left
                        clear
                        (click)="viewNewCommen()">
          <ion-icon name="text"></ion-icon>
          <div>{{ numComment }} Comentarios</div>
        </button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item *ngIf=!newComment>
                    <ion-label stacked>Comentario</ion-label>
                    <ion-input class="form-control"
                               type="text"
                               value=""
                               (keydown.enter)="addComment($event.target.value)"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>